.edit-comment-button {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: none;
  transition: all, 0.3s;
  background-image: url('../../assets/svg/edit-button-icon.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: beige;
}

.edit-comment-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all, 0.3s;
}