.add-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid chocolate;
  background-color: #F1CDB3;
  font-size: 28px;
  transition: all, 0.3s;
  position: absolute;
  top: 20%;
  right: 10%;
}

.add-button:hover {
  cursor: pointer;
  background-color: chocolate;
  transition: all, 0.3s;
}