.card-unit {
  width: 85%;
  margin: 0 auto 10px;
  background-color: beige;
  border-radius: 5px;
  padding: 5px;
}

.card-unit__image {
  width: 96px;
  height: 96px;
  margin-bottom: -20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all, 0.3s;
}

.card-unit__image:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all, 0.3s;
}

.card-image {
  width: 96px;
  height: 96px;
}

.edit-button-wrapper {
  text-align: right;
}

.card-unit__comment {
  font-size: 12px;
  line-height: 110%;
}

/* .card-unit__image.card-unit__image_browse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(5);
} */