.footer {
  max-width: 1280px;
  height: 15vh;
  margin: 0 auto;
  padding: 5px 30px;
  font-family: Arial;
  color: #F1CDB3;
  background-color: chocolate;
}

.top-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 59%;
}

.footer-logo-image {
  width: 48px;
  height: 48px;
  background-image: url('../../assets/img/icon-logo.png');
}

.footer-logo-image:hover {
  transform: rotate(-1turn);
  transition: all, 0.3s;
}

.social-links {
  flex-basis: 180px;
}

.social-links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  width: 30px;
  height: 30px;
  display: block;
}

.social-link-item {
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}

.social-link-item:hover {
  cursor: pointer;
  transition: all 0.3s;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.social-link-item:nth-child(1) {
  background: url("../../assets/svg/vk-logo.svg") no-repeat center / contain;
}

.social-link-item:nth-child(2) {
  background: url("../../assets/svg/telegram-logo.svg") no-repeat center / contain;
}

.social-link-item:nth-child(3) {
  background: url("../../assets/svg/you-tube-logo.svg") no-repeat center / contain;
}

.footer-hr {
  height: 1%;
  background-color: #F1CDB3;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 40%;
}

.bottom-footer_heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.bottom-footer_github-link {
  background: url("../../assets/svg/git-hub-logo.svg") no-repeat center / contain;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
}

.bottom-footer_github-link:hover {
  transition: all 0.3s;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}